.comentariya{
  height: 73vh;
  padding: 15px;
  border: 1px solid #7e7575;
  overflow-y: auto;
  p{
    background-color: #02A36D;
    padding: 10px;
    color: white;
    margin-left: 10px;
    border-radius: 0 10px 10px 10px;
  }
}