@import url('https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css');

.neumorphic {
  width: 100%;
  border: 0.5rem solid transparent;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  --shadow:
          -.5rem -.5rem 1rem hsl(0 0% 100% / .75),
          .5rem .5rem 1rem hsl(0 0% 50% / .5);
  box-shadow: var(--shadow);
  outline: none;
  transition: all 0.1s;
  background-color: rgb(5, 19, 49);
}

span {
    font-family: system-ui, sans-serif;
    font-size:  3rem;
  }
  .reyting{
margin-left: -15px;
  }
.buttons {
  display: grid;
  gap: 10px;
}
.btn_img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: aqua;
  margin-left: 15px;
}
.user_title{
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}
.user_info{
  gap: 15px;
display: flex;
justify-content: center;
align-items: center;

}
.user_container{
max-width: 289px;
width: 100%;
text-align: left;
}
.text-lg{
font-size: 16px;
}
.index{
display: flex;
}